<div class = "container">


  <ul> <iframe src="//player.vimeo.com/video/108796741" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> </ul>

  <ul> Den Delivery Image w/ blurb and links</ul>

  <ul> Angel list scraper </ul>

  <ul> Voulette </ul>

  <ul>Impresario Book + Seth Godin Seminar</ul>

  <ul> Booked Chainsmokers </ul>

</div>