<div class = "container">


  <ul> <iframe src="//player.vimeo.com/video/108796741" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> </ul>

  <ul> Den Delivery Image w/ blurb and links</ul>

  <ul> Angel list scraper </ul>

  <ul> Voulette </ul>

  <ul><ul> <iframe src="http://sethgodin.typepad.com/files/impresario.pdf" width="500" height="350" frameborder="0"></iframe> </ul></ul>

  <ul> <%= image_tag("http://upload.wikimedia.org/wikipedia/en/f/f1/The_Chainsmokers_-_Selfie.jpg", :alt => "selfie") %></ul>

</div>