<div class = "container">


  <ul> <iframe src="//player.vimeo.com/video/108796741" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> </ul>


  <ul> <a href="https://itunes.apple.com/us/app/den-delivery/id680984540?mt=8", target='_blank'><img alt="den delivery" border="0" src="http://a1.mzstatic.com/us/r30/Purple3/v4/fb/47/18/fb4718bf-3654-7307-cbbe-cf0f495d1a47/icon175x175.jpeg"/></a> </ul>

  <ul> <%= image_tag "angel_list_sq.png" %> </ul>

  <ul> Voulette </ul>

  <ul><ul> <iframe src="http://sethgodin.typepad.com/files/impresario.pdf" width="500" height="350" frameborder="0"></iframe> </ul></ul>

  <ul> <%= image_tag("http://upload.wikimedia.org/wikipedia/en/f/f1/The_Chainsmokers_-_Selfie.jpg", :alt => "selfie") %></ul>

  <ul> <%= image_tag "homeProfit 180 copy.png" %> </ul>

</div>
