body {
  line-height: 1.5;
  color: black;

  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'axisboldsss';
}

body {
  background: image-url("planes.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin-top: -100x;
  font-family: 'axisbold';
}