<nav class="navbar navba-static-top navbar-default" role="navigation">
  <div class "container">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><big>Matt Perejda</big></a>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/mperejda", target= "_blank" > <%= image_tag "github_40.png" %></a></li>
            <li><a href="https://angel.co/m-perejda", target="_blank"> <%= image_tag "angel_list_logo.png" %></a></li>
            <li><a href="https://twitter.com/mperejda", target= "_blank"> <%= image_tag "twitter_circle_black.png" %></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container.collapse -->
</nav>